<!--Директива @each-->
<li class="card-film">
    <picture>
        <source media="" srcset="">
        <source media="" srcset="">
        <img class="card-img" src="https://image.pmgstatic.com/cache/resized/w420/files/images/film/posters/165/600/165600865_42f06b.jpg" alt="">
    </picture>
    <h2 class="card-title">title</h2>
    <div class="card-info">
        <span class="genre-id"></span>
        <span class="genre-id"></span>
        <span class="genre-id"></span>
        <p class="card-symbol">|</p>
        <div class="card-avarage">
            <p class="film-avarage">10</p>
        </div>
    </div>
</li>