<!--Директива @each-->
<article class="movie-card">
    <picture>
        <source media="" srcset="">
        <source media="" srcset="">
        <img class="movie-card_img" src="https://image.pmgstatic.com/cache/resized/w420/files/images/film/posters/165/600/165600865_42f06b.jpg" alt="">
    </picture>
    <h2 class="movie-card_title">{{title}}</h2>
    <div class="movie-card_info">
        <span class="movie-card_genres">action</span>
        <span class="movie-card_genres"></span>
        <span class="movie-card_genres"></span>
        <p class="movie-card_symbol">|</p>
        <p class="movie-card_date">{{release_date}}</p>
        <div class="movie-card_avarage">
            <p class="movie-card_avarage__accent">{{vote_average}}</p>
        </div>
    </div>
</article>