<section class="library__section">
    <h1 class="visually_hidden">Movies library</h1>
    <div class="container">
        <div id="library" class="library__container">
            <p class="notifyer__message">Welcome to Filmoteka - your movies library.</p>
        </div>
        <div id="pagination" class="tui-pagination pagination__container ">

            <!-- btn-left -->
            <!-- <button class="btn__pagination btn__arrow" type="button">
                <svg class="icon-arrow-left">
                    <use href="images/icons.svg#icon-arrow-left"></use>
                </svg>
            </button> -->
    
            <!-- btn-number -->
            <!-- <button class="btn__pagination btn__number" type="button">1</button> -->
    
            <!-- btn-dots -->
            <!-- <button class="btn__pagination btn__dots" type="button">...</button> -->
    
            <!-- btn-number -->
            <!-- <button class="btn__pagination btn__number--active" type="button">3</button> -->
    
            <!-- btn-dots -->
            <!-- <button class="btn__pagination btn__dots" type="button">...</button> -->
            <!-- btn-number -->
            <!-- <button class="btn__pagination btn__number" type="button">6</button> -->
    
            <!-- btn-right -->
            <!-- <button class="btn__pagination btn__arrow" type="button">
                <svg class="icon-arrow-right">
                    <use href="images/icons.svg#icon-arrow-left"></use>
                </svg>
            </button> -->
    
        </div>
    </div>
    </div>
</section>