<div class="container">
    <div class="pagination__container">
        <!-- btn-left -->
        <button class="btn__pagination btn__arrow" type="button">
            <svg class="icon-arrow-left" width='20px' height="20px">
                <use href="images/icons.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <!-- btn-number -->
        <button class="btn__pagination btn__number" type="button">7</button>
        <!-- btn-right -->
        <button class="btn__pagination btn__arrow" type="button">
            <svg class="icon-arrow-right" width='20px' height="20px">
                <use href="images/icons.svg#icon-arrow-left"></use>
            </svg>
        </button>
    </div>
</div>