<header id="header" class="site-header">
       <div class="site-header__container">
            <a id="logo" class="site-logo disabled" href="#" title="Go to home page" aria-label="Site logo">
                <svg class="site-logo__image">
                    <use href="./images/icons.svg#icon-film"></use>
                </svg>
                <span id="logo-name" class="site-logo__name">Filmoteka</span>
            </a>
            <nav class="site-header-nav">
                <ul class="site-header-nav__buttons">
                    <li class="site-header-nav__buttons-item"><button id="home" class="site-header-nav__button" type="button" disabled title="Go to home page">HOME</button></li>
                    <li class="site-header-nav__buttons-item"><button id="my-library" class="site-header-nav__button" type="button"  title="Go to your library page">MY LIBRARY</button></li>
                </ul>
            </nav>
        </div>
        <div id="search-form-container" class="search-form__container">
            <input id="search-form" class="search-form__input" type="search" name="search"  placeholder="Search movies" />
            <svg class="search-form__icon">
                <use href="./images/icons.svg#icon-search"></use>
            </svg>
        </div>
        <div id="collections-nav" class="collections-nav js-hidden">
            <button class="collections-nav__button collections-nav__button--accent" id="watched" type="button"  title="Go to your Watched collection">WATCHED</button>
            <button id="queue" class="collections-nav__button" type="button" title="Go to your Queue collection">QUEUE</button>
        </div>
        <div class="user-btns-container">
            <select id="language" class="language-selector" name="language" title="Select language" aria-label="Language selector">
                <option class="language-selector__option" value="default" class ='language-select-svg' selected  title="English">EN</option>
                <option class="language-selector__option" value="ukrainian"  title="Українська">UA</option>
              </select>
            <button id="theme" class="theme-button" type="button"  title="Turn light off" aria-label="Change theme"></button>
        </div>
</header>
