    <div class="team">
        <h2 class="team__name">Anonymous Codeholics:</h2>
        <ul class="team-set">
            <!-- =====Станіслав===== -->
            <li class="team-item">
                    <img class="photo" src="images/team-photo/stanislav.jpg" alt="Станіслав Забіяка">
                <div class="team-info">
                    <h3 class="team-info__name">Станіслав Забіяка</h3>
                    <p class="team-info__profession" lang="en">Team Lead</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Марина===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/maryna.jpeg" alt="Марина Шеремета">
                <div class="team-info">
                    <h3 class="team-info__name">Марина Шеремета</h3>
                    <p class="team-info__profession" lang="en">Scrum Master</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Ольга===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/olga.jpg" alt="Ольга Сумарук">
                <div class="team-info">
                    <h3 class="team-info__name">Ольга Сумарук</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Наталія===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/natalia.jpg" alt="Наталія">
                <div class="team-info">
                    <h3 class="team-info__name">Наталія</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Віталій===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/vitaliy.jpg" alt="Віталій">
                <div class="team-info">
                    <h3 class="team-info__name">Віталій</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Юлія===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/julia.jpg" alt=">Юлія">
                <div class="team-info">
                    <h3 class="team-info__name">Юлія</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Микола===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/mykola.jpg" alt="Микола">
                <div class="team-info">
                    <h3 class="team-info__name">Микола</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Світлана===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/svitlana.jpg" alt="Світлана">
                <div class="team-info">
                    <h3 class="team-info__name">Світлана</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Роман===== -->
            <li class="team-item">
                <img class="photo" src="images/team-photo/roman.jpg" alt="Роман Безуглий">
                <div class="team-info">
                    <h3 class="team-info__name">Роман Безуглий</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Instagram">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Twitter">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="Facebook">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link team__social-link" aria-label="LinkedIn">
                                <svg width="20px" height="20px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            </ul>
    </div>
