    <div class="team">
        <h2 class="team__heading">Anonymous Codeholics:</h2>
        <ul class="team-set">
            <!-- =====Станіслав===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/stanislav.webp" type="image/webp" />
                    <source srcset="images/team-photo/stanislav.jpg" type="image/jpg" />
                    <img src="images/team-photo/stanislav.jpg" alt="Станіслав Забіяка" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Станіслав Забіяка</h3>
                    <p class="team-info__profession" lang="en">Team Lead</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Марина===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/maryna.webp" type="image/webp" />
                    <source srcset="images/team-photo/maryna.jpg" type="image/jpg" />
                    <img src="images/team-photo/maryna.jpg" alt="Марина Шеремета" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Марина Шеремета</h3>
                    <p class="team-info__profession" lang="en">Scrum Master</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Ольга===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/olga.webp" type="image/webp" />
                    <source srcset="images/team-photo/olga.jpg" type="image/jpg" />
                    <img src="images/team-photo/olga.jpg" alt="Ольга Сумарук" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Ольга Сумарук</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Наталія===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/natalia.webp" type="image/webp" />
                    <source srcset="images/team-photo/natalia.jpg" type="image/jpg" />
                    <img src="images/team-photo/natalia.jpg" alt="Наталія" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Наталія</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Віталій===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/vitaliy.webp" type="image/webp" />
                    <source srcset="images/team-photo/vitaliy.jpg" type="image/jpg" />
                    <img src="images/team-photo/vitaliy.jpg" alt="Віталій" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Віталій</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Юлія===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/julia.webp" type="image/webp" />
                    <source srcset="images/team-photo/julia.jpg" type="image/jpg" />
                    <img src="images/team-photo/julia.jpg" alt="Юлія" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Юлія</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Микола===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/mykola.webp" type="image/webp" />
                    <source srcset="images/team-photo/mykola.jpg" type="image/jpg" />
                    <img src="images/team-photo/mykola.jpg" alt="Микола Гонюк" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Микола Гонюк</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="https://instagram.com/kolya8077" target="_blank" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/%D0%BA%D0%BE%D0%BB%D1%8F-%D0%B3%D0%BE%D0%BD%D1%8E%D0%BA-8a5058187" target="_blank" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/kolya8077" target="_blank" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/kolya8077" target="_blank" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- =====Світлана===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/svitlana.webp" type="image/webp" />
                    <source srcset="images/team-photo/svitlana.jpg" type="image/jpg" />
                    <img src="images/team-photo/svitlana.jpg" alt="Світлана Киричу" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Світлана Киричун</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/SvetlanaZt" target="_blank" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            
            <!-- =====Роман===== -->
            <li class="team-item">
                <picture>
                    <source srcset="images/team-photo/roman.webp" type="image/webp" />
                    <source srcset="images/team-photo/roman.jpg" type="image/jpg" />
                    <img src="images/team-photo/roman.jpg" alt="Роман Безуглий" loading="lazy" />
                </picture>
                <div class="team-info">
                    <h3 class="team-info__name">Роман Безуглий</h3>
                    <p class="team-info__profession" lang="en">Developer</p>
                    <ul class="social-list">
                        <li>
                            <a href="#" class="social-link" aria-label="Instagram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/romanbezuhlyi" target="_blank" class="social-link" aria-label="Linkedin" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/Bezuglijj7" target="_blank" class="social-link" aria-label="Telegram" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/RomanBezuhlyi" target="_blank" class="social-link" aria-label="GitHub" rel="noopener noreferrer nofollow">
                                <svg width="15px" height="15px">
                                    <use href="images/icons.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            </ul>
    </div>
