
.movie-card {
    cursor: pointer;
    @include respondTo (mobile){
        margin-top: 20px;
    }

    @include respondTo (tablet){
        @include flexBasis (2, 32px);
        margin-left: 32px;

    }

    @include respondTo (desktop){
        @include flexBasis (3, 16px);
        margin-left: 16px;

    }
    

    &_img{
        width: 100%;
        // height: 402px;
        border-radius: 5px;
        // object-fit: cover;
        
        // @include respondTo (tablet) {
       
        //     height: 455px;
        // }
        // @include respondTo (desktop){
        //     height: 449px;
        // }
    }

     &_title {
            text-transform: uppercase;
            font-family: $fontPrimary;
            color: getColor('text-primary');
            line-height: 1.33;
            margin-top: 8px;
            margin-bottom: 5px;
        
        }

        &_info{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 4px;
        
        }
        &_genres{
            color: getColor('accent');
            line-height: 16px;
            margin-right: 3px;           
       }

       &_symbol {
            margin-left: 4px ;
            color: getColor('accent');
        }
        &_date {
            margin-left: 3px;
            margin-right: 3px;
            
            color: getColor('accent');
        }
        &_avarage{
            background-color: getColor('accent');
            border-radius: 5px;
        }
        &_avarage__accent{
            width: 36px;
            height: 16px;

            color: getColor('text-secondary');
            text-align: center;
        }
        &_list {
            display: flex;
        }
   }
   
//gerne hover&focus

