.notifyer__container {
  display: flex;
  align-items: center;
  visibility: visible;
  opacity: 1;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  color: getColor('text-secondary');
    font-size: 14px;
    font-weight: 400;
    text-align: center;

  transition: opacity 1000ms ease-in-out 250ms;

  &.js-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    color: getColor('text-secondary');

}

  @media screen and (min-width: 500px) {
      padding-left: 74px;
  }

 
}

.language{
  display: flex;
  align-items: center;
  position: relative;
  margin-top: auto;
  margin-left: auto;
  width: 150px;
  height: 40px;
  padding: 5px;
  z-index: 2;

  color: getColor('text-secondary');
  border-radius: 5px;
  
  background-image: linear-gradient(to bottom, rgba(7, 7, 167, 0.8) 50%, rgba(175, 135, 2, 0.8) 50%);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.603), 0 0 50px rgba(255, 107, 1, 0.6);

  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    right: -20px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-image: url(../images/icons/forward.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    animation-name: 'arrow';
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }

@include respondTo(tablet) {
  width: 250px;
}

@include respondTo(desktop) {
  width: 280px;
}
}

.warning{
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  min-width: 150px;
  height: 40px;
  padding: 5px;

  color: getColor('warning');
  border-radius: 5px;
  
  background-color: rgba(34, 33, 33, 0.733);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.74);

}

.notifyer__message {
  display: block;
  margin: auto;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: rgb(172, 171, 171);

  @include respondTo(tablet) {
    font-size: 30px;
  }
}

.notifyer__image {
  width: 100px;
  height: 100px;
  stroke: #8181819d;
  fill: none;
  margin-bottom: 20px;
}

@keyframes arrow {
  from {
      transform: scale(1);
  }

  to {
      transform: scale(2);
  }
}