.language{
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  line-height: 14px;
  color: getColor('text-secondary');
  display: flex;
  flex-direction: center;
  align-items: center;
  position: absolute;
  padding: 20px;
  border-radius: 6px;
  width: 250px;
  height: 30px;
  top: 150px;
  right: 20px;
  background-image: linear-gradient(to bottom, rgba(5, 5, 87, 0.685) 45%, rgba(105, 105, 5, 0.788) 55%);
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.753);

@include respondTo(tablet) {
  border-radius: 6px;
  width: 250px;
  height: 30px;
  // top: 26%;
  right: 32px;;
}

@include respondTo(desktop) {
  font-size: 15px;
  border-radius: 8px;
  width: 280px;
  height: 40px;
  // top: 21%;
  // left: 41%;
}
}

.warning{
  font-size: 12px;
  font-family: inherit;
  font-weight: 500;
  line-height: 14px;
  color: getColor('warning');
  display: flex;
  flex-direction: center;
  align-items: center;
  position: absolute;
  padding: 20px;
  border-radius: 6px;
  width: 250px;
  height: 30px;
  top: 150px;
  right: 20px;
  background-color: rgba(128, 128, 128, 0.486);
  box-shadow: 0 0 35px rgba(255, 255, 255, 0.753);

  @include respondTo(tablet) {
    border-radius: 6px;
    width: 250px;
    height: 30px;
    // top: 26%;
    right: 32px;
  }

  @include respondTo(desktop) {
    font-size: 15px;
    border-radius: 8px;
    width: 280px;
    height: 40px;
    // top: 21%;
    // left: 41%;
  }

}

.notifyer__message {
  display: block;
  margin: auto;
  font-size: 20px;
  line-height: 1.25;
  text-align: center;
  color: rgb(172, 171, 171);

  @include respondTo(tablet) {
    font-size: 30px;
  }

  @include respondTo(tablet) {
    font-size: 40px;
  }
}