// ==========стиль блоку пагінація=======
.pagination__container{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    &.js-hidden {
        display: none;
    }

    @include respondTo(tablet) {
            padding-bottom: 60px;
        }
}

// =======приховування блоку========
.pagination__container.is-hidden{
    display: none;
}

// ===========стиль кнопок===========
.btn__pagination{
    font-size: 12px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0px 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    background-color: getColor('text-secondary');
    color: getColor('text-primary');
        @include respondTo(tablet) {
            margin: 0px 1px;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: rgba(255, 107, 1, 0.5);
            color: getColor('text-secondary');
        }
}

.btn__number--active{
    background-color: getColor('accent');
    color: getColor('text-secondary');
}

.btn__arrow {
    background-color: getColor('background-secondary');

    &:hover,
    &:focus{
        background-color: #c6c6c6;
    }

    &--disabled {
        background-color: transparent;
    }
}

// =======приховування кнопки========
.btn__dots.is-hidden {
    display: none;
}

// ==========стиль svg-іконки==========

.icon-arrow-prev{
    width: 16px;
    height: 16px;
    stroke: black;
    fill: none;
}

.icon-arrow-next{
    @extend .icon-arrow-prev;
    transform: rotate(180deg);
}
