#to-top-button {
  display: block;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 99;
  width: 40px;
  height: 40px;

  @include respondTo(tablet) {
    bottom: 20px;
    right: 30px;
  }

  visibility: hidden;
  pointer-events: none;

  border: none;
  outline: none;
  background-image: url(../images/icons/arrow-up2.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: getColor('accent');

  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;

  transition: all 0.35s ease-in;

  &.is-visible {
    visibility: visible;
    opacity: 0.5;
    pointer-events: auto;

    &:hover {
      opacity: 1;
    }
  }
}
