.site-header {
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
            url(../images/backgrounds/header-background-320.jpg);

    @include respondTo(tablet) {
        height: 216px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url(../images/backgrounds/header-background-768.jpg);
    }

    @include respondTo(desktop) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                url(../images/backgrounds/header-background-1024.jpg);
        height: 216px;
    }
 &__nav {
     display: flex;
    flex-wrap: nowrap;
    padding-top: 44px;
    margin-right: 20px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    @include respondTo(tablet) {
     padding-top: 49px;
    margin-right: 32px;
    }
 }
 &__link {
justify-content: center;
align-items: center;
@include respondTo(tablet) {
display: flex;
}
 }
&__svg{
stroke: #818181;
fill: none;
@include respondTo(tablet) {
    margin-right: 10px;
}

}
 &__logo {
    @include respondTo(-tablet) {
        display: none;
    }
        @include respondTo(tablet) {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
        color: getColor('background-primary');
    }
}
&__list{
display: flex;
margin-left: auto;
}
&__item {
position: relative;
    margin-left: 40px;
}
&__list-link {
    padding-bottom: 5px;
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: getColor('background-primary');
}

}
.list{
    list-style: none;
    text-decoration: none;
}
.site-header__item .active::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    background: getColor('accent');
    border-radius: 2px;
}