// =====стилізація блоку=====
.team {
    max-width: 100%;
    background-color: getColor('background-secondary');
    padding: 15px 0;
    text-align: center;

    @include respondTo(tablet){
        padding: 30px 0;
    }
}

// =====стилізація заголовку=====
.team__heading{
    margin-bottom: 15px;
    text-transform: uppercase;

    @include respondTo(tablet) {
        margin-bottom: 30px;
    }
}

// =====стилізація сітки=====
.team-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// =====стилізація картки=====
.team-item {
    flex-basis: calc(100% / 3 - 16px);
    min-width: 240px;
    margin: 8px;

    background-color: getColor('text-secondary');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 5px 5px;
}

.team-info {
    padding: 15px;

    @include respondTo(tablet) {
    padding: 20px;
    }

    &__name {
        margin-bottom: 5px;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.2em;
        letter-spacing: 0.03em;
        color: getColor('text-primary');

        @include respondTo(tablet) {
                margin-bottom: 10px;
                font-size: 16px;
            }
    }

    &__profession {
        font-size: 12px;
        line-height: 1.2em;
        letter-spacing: 0.03em;
        color: getColor('text-footer');
        @include respondTo(tablet) {
                font-size: 16px;
            }
        }
    }

// =====стилізація соц. мереж=====
.social-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    @include respondTo(tablet) {
            margin-top: 10px;
        }
    }

.social-list li:not(:last-child) {
    margin-right: 5px;
    @include respondTo(tablet) {
            margin-right: 10px;
        }
    }

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    @include respondTo(tablet) {
            width: 30px;
            height: 30px;
        }

    border-radius: 5px;
    fill: getColor('modal-text-secondary');
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: getColor('accent');
        fill: getColor('text-secondary');
    }
}

.team__social-link {
    background-color: getColor('text-secondary');
}