// =====стилізація блоку=====
.team {
    background-color: transparent;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;

    color: inherit;
}

// =====стилізація заголовку=====
.team__heading{
    margin-bottom: 5px;
    text-transform: uppercase;
}

// =====стилізація сітки=====
.team-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// =====стилізація картки=====
.team-item {
    flex: 0.5;
    margin: 5px;
    text-align: center;
}

.team-photo{
    border-radius: 5px;
    margin-bottom: 5px;
}

.team-info {
    padding: 5px;
    border: 1px solid getColor('text-primary');
    border-radius: 5px;

    .body.theme-dark & {
        border-color: getColor('text-secondary');
    }

    &__name {
        margin-bottom: 5px;
        line-height: 1.2;
        letter-spacing: 0.03;

    &__profession {
        margin-bottom: 5px;
        line-height: 1.2;
        letter-spacing: 0.03;
        color: getColor('accent');
        }
    }
}

// =====стилізація соц. мереж=====
.social-list {
    display: flex;
    justify-content: center;
}

.social-list li:not(:last-child) {
    margin-right: 10px;
    
    }

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    border-radius: 5px;
    fill: getColor('text-primary');
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .body.theme-dark & {
        fill: getColor('text-secondary');
    }

    &:hover,
    &:focus {
        background-color: getColor('accent');
        fill: getColor('text-secondary');

        .body.theme-dark & {
            fill: getColor('text-primary');
        }
    }
}

// =====стилізація кнопки закриття =====
.team__close-btn{
display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: transparent;
    padding: 0;
    cursor: pointer;

    &:hover,
    &:focus {
    border: 1px solid getColor('accent');
    border-radius: 5px;
}
}

.team__close-btn:hover .modal-card__close-btn-icon,
.team__close-btn:focus .modal-card__close-btn-icon {
    stroke: getColor('accent');
}

